<?xml version="1.0"?>
<model>
  <name>targetNumber5</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>UAVs at Berkeley</name>
    <email>noreply@example.com</email>
  </author>
  <description>Numbered target model 5 loaded from OBJ mesh.</description>
</model>
